<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game <%= id %></title>
  </head>
  <body>
    <h1>
      Welcome to game
      <%= id %>
    </h1>
    <p>
      <%= name %> with max players <%= max_players %>, created at <%= (new
      Date(created_at)).toLocaleDateString() %> by <%= created_by %>
    </p>

    <p><a href="/lobby">Return to lobby</a></p>
  </body>
</html>
